In [1]:
import pickle
import numpy as np
from sklearn.externals import joblib
import pandas as pd
import tensorflow

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorflow_core/__init__.py:1467: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

In [8]:
df=pd.read_csv('production_data_loan.csv')
df.drop('Loan_Status',axis=1, inplace=True)
dum_X=pd.get_dummies(df)
dum_X.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,3,8654.685268,6675.532232,769.282059,180,1,0,1,0,1,1,0,0,1,0,1,0
1,0,4260.663671,9619.647456,516.424109,380,0,1,0,1,0,1,0,0,1,0,0,1
2,2,2951.265653,9727.918603,723.193873,44,1,1,0,1,0,1,0,1,0,0,1,0
3,3,9801.532725,9909.411865,898.895443,60,0,1,0,1,0,0,1,0,1,0,0,1
4,1,6241.981064,2460.762401,449.185004,36,0,1,0,0,1,0,1,0,1,0,0,1

In [3]:
model=joblib.load('loan_model.pkl')
sc=joblib.load('scaler.pkl')

In [10]:
X=sc.transform(dum_X)

In [23]:
y_pred=model.predict(X)
y_pred=(y_pred>0.52)
decision=pd.DataFrame(y_pred, columns=["Status"])
decision=decision.replace({True : "Accepted", False: "Rejected"})